/* Footer section  */

#FootElem {
  font-size: 0.8rem;
  line-height: 30px;
}

#dropdown-item-button {
  font-size: 0.8rem;
  color: gray;
  padding: 0%;
  background: none;
}

#dropItem {
  font-size: 0.8rem;
  color: gray;
}

.form-select {
  font-size: 0.8rem;
  color: gray;
}

#purpleLink {
  color: #8443ce;
}
