.cardLinkedln {
  border: 1.5px solid lightgrey;
  background-color: white;
}

.clampedP {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.infoPro::after {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 4px;
}

/* .widthIconNavBar {
  width: 80px;
} */
/* .widthIconNavBar2 {
  width: 100px;
} */

.ms40px {
  margin-left: 40px;
}

/* Home Page */

.mtNegative {
  margin-top: -30px;
}
.borderUser {
  border: 2px solid white;
}
.imgHome {
  width: 100%;
  height: 56.25px;
  object-fit: cover;
}

/* Footer section  */

#FootElem {
  font-size: 0.8rem;
  line-height: 30px;
}

#dropdown-item-button {
  font-size: 0.8rem;
  color: gray;
  padding: 0%;
  background: none;
}

#dropItem {
  font-size: 0.8rem;
  color: gray;
}

.form-select {
  font-size: 0.8rem;
  color: gray;
}

#purpleLink {
  color: #8443ce;
}
.borderAside {
  border-bottom: 1px solid #ebe8e8;
}
.textNoneLi {
  list-style: none;
}
.buttonAside {
  background: transparent;
  color: rgb(55, 54, 54);
  width: 110px;
}

.buttonAside:hover {
  background: lightgray;
  color: rgb(55, 54, 54);
  width: 110px;
  border: 1.5px solid lightgray;
}

.textNone {
  text-decoration: none;
  color: black;
  opacity: 75%;
}

#basic-nav-dropdown {
  padding-top: 0px;
}

#logoMiniFooter {
  font-size: 0.8rem;
}

.miniFooter {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: gray;
  padding-left: 0;
}
.marginMiniFooter {
  margin: 0.4rem 0.8rem;
}

.buttonJob {
  background-color: var(--color-background-none);
  color: #0a66c2;
  box-shadow: inset 0 0 0 1px var(--color-action);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 1.7rem;
}
@media screen and (min-with: 991px) {
  #nav-container {
    width: 75%;
  }
}
@media screen and (max-width: 991px) {
  #nav-container {
    width: 100%;
  }
  .media {
    padding-right: 10%;
  }
}
@media screen and (max-width: 766px) {
  .widthIconNavBar {
    width: 40px;
  }
  .widthIconNavBar2 {
    width: 40px;
  }
  .ms40px {
    margin-left: 0px;
  }
  .svgNotifiche {
    margin-left: 0px !important;
  }
}

#sideBarRightList {
  font-size: 0.8rem;
  line-height: 3px;
}

.fa-linkedin {
  display: block;
  font-size: 5em;
  text-align: center;
  color: #0077b5;
}

.line {
  height: 3px;
  width: 100%;
  background: #e8e8e8;
  margin-top: 2%;
  margin-bottom: 4%;

  .inner {
    width: 100%;
    height: inherit;
    background: #0077b5;
    animation: slide 2s ease-in-out infinite;
  }
}
.fontIcon {
  font-size: 300%;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

@keyframes slide {
  0% {
    transform-origin: left;
    transform: scalex(0.3);
  }
  12.5% {
    transform-origin: left;
    transform: scalex(0.2);
  }
  25% {
    transform-origin: left;
    transform: scalex(1);
  }
  26% {
    transform-origin: right;
    transform: scalex(1);
  }
  50% {
    transform-origin: right;
    transform: scalex(0.3);
  }
  62.5% {
    transform-origin: right;
    transform: scalex(0.2);
  }
  75% {
    transform-origin: right;
    transform: scalex(1);
  }
  76% {
    transform-origin: left;
    transform: scalex(1);
  }
  100% {
    transform-origin: left;
    transform: scalex(0.3);
  }
}

.jobSelectedClass {
  background-color: #d7e9fb;
}

.dropdown-menu {
  padding: 5px;
}
